.producto-history{
    background-color: #fff;
    height: 15rem;
    transition: all ease .2s;
    position: relative;
    max-width: 15rem;
}

.producto-history__title{
    background-color: #fff;
    height: 0rem;
    overflow: hidden;
    border-top: 1px solid rgba(51,51,51,.1);
    color: #666;
    transition: all ease .2s;
}

.producto-history__title p{
    max-height: 5rem;
    font-weight: 300;
    overflow: hidden;
    font-size: 1.3rem;
    transition: all ease .2s;
    padding: 1.5rem;
}

.producto-history:hover{
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.producto-history:hover .producto-history__title{
    height: 6rem;
    transition: all ease .2s;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.producto-history__mark{
    position: relative;
    position: absolute;
    top: -0.7rem;
    right: -0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #666;
    border-radius: 50%;
    font-weight: 600;
    visibility: hidden;
}

.icon--mark{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
}

.producto-history:hover .producto-history__mark{
    visibility: visible;
}

.producto-history__mark:hover{
    background-color: red;
}