:root {
  --main-color: #fff059;
  --main-color-blue: #3483fa;
  --color-dark-blue: #2968c8;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

*, *::before, *::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.075);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

p{
  font-size: 1.4rem;
}

legend, input, textarea, label, p, a, h1, h2, h3, button, li, span {
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: 0.1px;
}

input{
  outline: none;
}

.pos-initial{
  position: absolute;
  top: 0;
  left: 0;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.background-wh{
  background-color: #fff;
}

.container{
  width: min(120rem, 95%);
  margin: 0 auto;
}

.background-main{
  background-color: var( --main-color );
}

/* FLEXBOX */

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  justify-content: space-between;
  row-gap: 2rem;
  column-gap: 2rem;
}

.flex-row-2{
  display: flex;
  align-items: flex-end;
  column-gap: 2rem;
  row-gap: 2;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* GRIDS */

.grid-full{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(24rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid-full-2{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(10rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}

.wrap{
  flex-wrap: wrap;
}

.f-auto{
  flex: 1;
}

.c-gap-2{
  column-gap: 2rem;
}

.r-gap-2{
  row-gap: 2rem;
}

/* STYLES */
.circle{
  border-radius: 50% !important;
}

/* COMPONENTES FUENTES */
.grey-weight{

}

.grey-normal{
  font-weight: 400;
  color: #4a4a4a;
  letter-spacing: .6px;
}

.font-2{
  font-weight: 300;
  letter-spacing: .6px;
  color: #4a4a4a;
  font-size: 2.6rem;
}

.font-5{
  color: #3483fa;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
}

.font-3{
  color: #33333399
}

.upper{
  text-transform: uppercase;
}

/* TAMAÑOS  */

.font-s{
  font-size: 1.2rem;
}

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 2rem;
}

.ptop-2{
  padding-top: 2rem
}

.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1{
  padding: 1rem 0
}

.py-2{
  padding: 2rem 0;
}

.pb-1{
  padding-bottom: 1rem;
}

.pb-2{
  padding-bottom: 2rem;
}

/* MARGIN */

.m-1{
  margin: 1rem
}

.m-2{
  margin: 2rem;
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt{
  margin-top: 0.5rem;
}

.mt-full{
  margin-top: 5rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb{
  margin-bottom: 0.4rem;
}

.my-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-full{
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.my-media{
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.section{
  margin: 4rem 0;
}

.ov-hidd{
  overflow: hidden;
}

.pointer{
  cursor: pointer;
}

.shadow-default{
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
  transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}

.shadow-default:hover{
  transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
}

.radius-default{
  border-radius: 0.6rem;
}

.title-section{
  font-size: 2.6rem;
  font-weight: 300;
  color: #666;
}

.title-grey-upper{
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
  letter-spacing: 1.6px;
}

.font-size-default{
  font-size: 1.4rem;
}

.full-w{
  width: 100%;
}

/* TEXTOS */
.title-green-shipping{
  color: #00a650;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.font-green-main{
  font-weight: 400;
  color: #00a650;
  font-size: 14px;
}

.center{
  text-align: center;
}

/* globales componentes */

.pos-left-bot{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
}


.img-contain{
  position: relative;
  object-fit: contain;
}

.btn{
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    display: inline-block;
}

.btn--blue{
  background-color: var(--main-color-blue);
  transition: background-color .2s ease-in
}

.btn--blue:hover{
  background-color: var(--color-dark-blue);
  transition: background-color .2s ease-in
}